<!DOCTYPE html>
<html>
  <head>
      <title>Mail List</title>
	<meta charset="utf-8">
    <link rel="stylesheet" href="mails.css" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://documentcloud.github.com/underscore/underscore.js"></script>
    <script src="http://documentcloud.github.com/backbone/backbone.js"></script>
    <script type='text/javascript' src='mails.js'></script>
  </head>
  <body>
     <div id="mailApp">
          <div class="list-panel">
              <ul class="list-view">
              </ul>
          </div>
          <div class="detail-panel">
              <ul class="detail-view">
              </ul>
          </div>
      </div> 
  </body>
      <script type="text/template" id="mail-thread-template">
          <h4>Discussion: <%= number %></h4>
          <div class="description"><%= description %></div>
      </script>
      <script type="text/template" id="mail-content-template">
            <div class="meta">
              <span class="from"><b>From: </b> <%= from %></span><span class="to"><b>To: </b><%= to %></span>
              <span class="date"><b>Date: </b><%= date %></span><span class="subject"><b>Subject: </b><%= subject %></span>
            </div>
            <div class="content"><%= content %></div>
            <% if(attachment){ %><div class="attachment"><b>Attachment: </b><a href="files/attachment/<%= attachment %>"><%= attachment %></a></div><%}%>
      </script>
</html>
